## 3. Collaborative Filtering(협업 필터링 : 사용자 리뷰 기반)

In [1]:
import surprise
surprise.__version__

'1.1.3'

In [12]:
import pandas as pd
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [13]:
ratings = pd.read_csv('ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [8]:
reader = Reader(rating_scale=(0.5,5))

In [9]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader = reader)
data

In [16]:
svd = SVD(random_state=0)

In [17]:
cross_validate(svd, data, measures=['RMSE','MAE'], cv=5, verbose=True) #교차검증

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8951  0.8849  0.9020  0.9042  0.8909  0.8954  0.0071
MAE (testset)     0.6922  0.6815  0.6936  0.6940  0.6858  0.6894  0.0049
Fit time          1.47    1.47    1.42    1.31    1.29    1.39    0.08
Test time         0.22    0.24    0.21    0.16    0.16    0.20    0.03

{'test_rmse': array([0.89506282, 0.88492671, 0.90202029, 0.90415514, 0.89090881]),
 'test_mae': array([0.6921896 , 0.68154471, 0.69358253, 0.69402344, 0.68581362]),
 'fit_time': (1.473912239074707,
  1.4740839004516602,
  1.4207241535186768,
  1.308863639831543,
  1.290266752243042),
 'test_time': (0.22440028190612793,
  0.2403571605682373,
  0.21414589881896973,
  0.15859174728393555,
  0.15833640098571777)}

In [19]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [20]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [21]:
svd.predict(1,302)

Prediction(uid=1, iid=302, r_ui=None, est=2.7142061734434044, details={'was_impossible': False})

In [22]:
svd.predict(1,1029,3) # UserId=1번인 사람이 Movie Id = 1029인 영화에 대해서 실제 평가 3점일때, 예측 평가 점수?

Prediction(uid=1, iid=1029, r_ui=3, est=2.8814455446761933, details={'was_impossible': False})

In [ ]:
svd.predict(100,1029) # user id =100 , MovieId = 1029